.list-container {
    width: 100%;
    min-height: 100vh;
    background: rgba(55, 110, 164, 0.06);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-border {
    width: 100%;
    max-width: 1131px;
}

@media (max-width: 1131px) {
    .content-border {
        padding: 0 20px;
        box-sizing: border-box;
    }
}

.swiper {
    max-width: 240px;
    height: 240px;
}

@media (max-width: 660px) {
    .rc-apartments-container__content,
    .rc-apartment,
    .rc-apartment__image,
    .rc-apartment__image .swiper {
        width: 100%;
        position: relative;
    }
}

/*  Промо ЖК "Покупайте у застройщика"  */


.rc-promo {
    width: 100%;
    height: 391px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rc-promo__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rc-promo__title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 100px 0;
    width: 410px;
}

.rc-promo__images {
    position: relative;
    height: 254px;
    width: 525px;
    margin-right: -105px;
}

.rc-promo__images__pig {
    position: absolute;
    z-index: 2;
    top: 74px;
    right: 235px;
}

.rc-promo__images__pig img {
    height: 180px;
    width: 319px;
    object-fit: contain;
}

.rc-promo__images__safe {
    position: absolute;
    z-index: 1;
}

.rc-promo__images__safe img {
    height: 249px;
    width: 445px;
    object-fit: contain;
}

@media (max-width: 1131px) {
    .rc-promo {
        height: 492px;
    }

    .rc-promo__content {
        flex-direction: column-reverse;
        height: 492px;
    }

    .rc-promo__title {
        width: 343px;
    }

    .rc-promo__images {
        margin: 40px -70px 0 0;
    }
}


/*  Контейнер карточек ЖК  */


.rc-apartments-container {
    display: flex;
    flex-direction: row;
    padding: 40px 0 233px;
    gap: 24px;
}

.rc-apartments-container__filters {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rc-apartments-container__filters .button__secondary {
    width: unset;
    max-width: unset;
    padding-right: 50px;
}

.rc-apartments-container__filters {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rc-apartments-container__filters__show-on-map,
.rc-apartments-container__filters__price {
    width: 190px;
}

.rc-apartments-container__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 16px;
}

.rc-apartments-min-container__content {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 24px;
}

@media (max-width: 660px) {
    .rc-apartments-container__filters {
        display: none;
    }

    .rc-apartments-container__content {
        justify-content: center;
    }

    .rc-apartments-container {
        padding: 20px 0;
    }
}


/*  Карточка ЖК */


.rc-apartment {
    width: 100%;
    max-width: 744px;
    height: 288px;
    border-radius: 15px;
    box-sizing: border-box;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.rc-apartment__image {
    position: relative;
    border-radius: 13px;
    border: 1px solid rgba(55, 110, 164, 0.06);
    width: 234px;
    height: 241px;
    padding: 19px 0 28px 26px;
}

.rc-apartment__image__logo {
    position: absolute;
    z-index: 11;
    top: 13px;
    left: 13px;

    width: 42px;
    height: 42px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 50%;
}

.rc-logo {
    width: 32px;
    height: 32px;
    border: 1px solid rgba(42, 84, 126, 0.16);
    box-sizing: border-box;
    border-radius: 50%;
    object-fit: contain;
}

.rc-apartment__image__rc {
    overflow: hidden;
    width: 100%;
    max-width: 240px;
    height: 240px;
    object-fit: cover;
    transition: 0.5s height;
}

.rc-apartment__image__rc img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.rc-apartment__content:hover .rc-apartment__image__rc {
    height: 200px;
}

.rc-apartment__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: 100%;
    padding: 28px 24px 20px;
    box-sizing: border-box;
}

.rc-apartment__content__title {
    display: flex;
    justify-content: space-between;
}

.rc-apartment__content__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 60%;
    margin-top: 8px;
}

.rc-apartment__content__list__mobile {
    display: none;
}

.rc-apartment__content__list__row {
    display: flex;
    position: relative;
    gap: 16px;
}

.rc-apartment__content__list__row p:first-child {
    max-width: 70px;
}

.rc-apartment__content__list__row p,
.rc-apartment__content__list__row a {
    display: flex;
    flex: 1 33%;
}

.rc-apartment__content__metro {
    margin-top: 7px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rc-apartment__content__metro__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
}

.apartment-info__metro__icons__item {
    display: flex;
    gap: 12px;
}

.apartment-info__metro__icon-metro,
.apartment-info__metro__on-foot {
    display: flex;
    align-items: center;
    gap: 4px;
}

.swiper__hover-section__container {
    position: absolute;
    display: flex;
    top: 0;

    z-index: 10;
}

.rc-apartment__content__metro__mobile {
    display: none;
}

.metro-icon__green svg path {
    fill: rgba(0, 155, 71, 1);
}

@media (max-width: 1131px) {
    .contact-form {
        display: none;
    }
}

@media (max-width: 660px) {
    .contact-form {
        display: none;
    }

    .rc-apartment {
        height: 434px;
        flex-direction: column;
    }

    .rc-apartment__content__buttons {
        margin-top: 5px;
    }

    .rc-apartment__content__metro__mobile {
        display: block;
    }

    .rc-apartment__content__list__mobile {
        display: flex;
    }

    .rc-apartment__content__list,
    .rc-apartment__content__metro,
    .rc-apartment__content__labels,
    .rc-apartment__content__title:nth-child(2) {
        display: none;
    }

    .rc-apartment__content {
        margin-top: 20px;
        padding: 0;
        gap: 4px;
    }

    .swiper {
        max-width: 100%;
    }

    .rc-apartment__image__rc {
        max-width: 100%;
    }
}

@media (max-width: 440px) {
    .swiper {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .swiper {
        width: 280px;
    }
}


/*  Ranged filter slider - Price  */


.rc-filters__ranged-price__container {
    min-width: 210px;
}

.range_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;

    position: absolute;
    bottom: -7px;
}

.rc-filters__ranged-price {
    display: flex;
    flex-direction: column;
    padding: 14px;
    position: relative;
    width: 100%;
    height: 48px;
    box-sizing: border-box;
}

.rc-filters__ranged-price__content {
    gap: 8px;
    width: 100%;
}

.sliders_control {
    position: relative;
    min-height: 10px;
}

.form_control {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #635a5a;
    width: 100%;
    justify-content: space-between;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(0, 155, 71, 1);
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(0, 155, 71, 1);
    cursor: pointer;
}

input[type="number"] {
    color: #8a8383;
    width: 50px;
    height: 30px;
    font-size: 20px;
    border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
}

#fromSlider {
    height: 0;
    z-index: 1;
}

.form_control_container .title__light {
    color: black !important;
}

.form_control_container__time__input {
    background: transparent;
    color: black !important;
    width: 25px;
}
